<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presentacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <div class="content-container">
    <ion-img
    src="assets/icon/dcotr%20ugarte.jpg"
    alt="Solicita tu hora medica"
  ></ion-img>
    <div class="description">
      Solicita tu hora medica a lo largo de todo el pais
    </div>
    <ion-button shape="round" class="arrow-button" (click)="navigateToTab3()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>
