<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <div class="content-container">
    <ion-img
      src="assets/icon/minsal.jpg"
      alt="Ministerio de salud"
    ></ion-img>
    <div class="app-name">
      Minsal APP
    </div>
    <ion-button expand="block" shape="round" class="Bienvenido" (click)="navigateToTab2()">
      Bienvenido
    </ion-button>
  </div>
</ion-content>

